*{ /* é como se fosse o body*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    
}

.logo-huddle{
    margin-top: 2%;
    margin-left: 6%;
    
    
    
}

.container{
    background:  rgba(237,251,254,255); /*cor original: rgba(237,251,254,255) */
    
    background-repeat: no-repeat; /* serve para nao repetir*/
    background-size: cover; /* cobre toda a parte da div*/
    background-image: url("./images/backgroundimageDesktop.svg");
    height: 100vh;
   
   
   
}

/*comentario 2*/
.container header { /* jeito de navegar*/
    
    display: flex;
    align-items: center; /* centro vertical*/
    justify-content: space-between;
    padding: 30px;
    
   

}

.container header img {
    width: 20vh;
}

.container header button{
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 12vw;
    border-radius: 25px;
    border: none;
    background: rgb(238, 34, 160);
    color: white;
    margin-right: 5%;
    
    box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    cursor: pointer;
    font-size: 16px;
   
}

.container header button:hover{  /*Quando passa o cursor por cima muda de cor*/
    background: rgb(240, 25, 204);
}

.container header button:active{ /* Quando clica muda de cor*/ 
    background: rgb(243, 88, 184);
}

.secondContainer{
    display: flex; /* deixa as coisas dentro do container uma do lado da outra*/
    padding: 30px;
    gap: 100px; 
    padding-top: 3%;
    

}

.about{
    display: flex; /* deixa as coisas dentro do container uma do lado da outra*/
    flex-direction: column;
    width: 50%;
}





.imagechat{
    
   
    height: 73vh;
    padding-right: 3vw;

  
}

/*commit 02*/


/* .imagechat{
padding-left: 420px;
width: 40vw;
} */



.about h1 {
    margin-left: 16%;
    color: #05232b;
    padding-top: 120px;
    padding-bottom: 30px;
    max-width: 370px;
}

.about p {
    margin-left: 16%;
    font-size: 16px;
    font-weight: 400;
    color:#41565a;
    max-width: 440px; /*tamanho q ocupa na linha*/
     

}

.about button{
    width: 17vw;
    height: 8vh;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: rgb(238, 34, 160);
    cursor: pointer;
    margin-left: 16%;
    
    color: white;
    box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);



}

.about button:hover{
    background: rgb(240, 25, 204);
  
}

.about button:active{
    background: rgb(243, 88, 184);
}

.first-info-container{
    margin: auto;
    display: flex;
    width: 85vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.59);
    margin-bottom: 300px;
}

.text-inside-box{
    display: flex;/* deixa as coisas dentro do container uma do lado da outra*/
    flex-direction: column;
    justify-content: center;
}

.title-default{
   
    margin-left: 23%;
    color: #05232b;
    max-width: 370px;
}

.text-default{
    padding-top:10px;
    margin-left: 23%;
    font-size: 16px;
    font-weight: 400;
    color:#A3a8ab;
    max-width: 550px; /*tamanho q ocupa na linha*/
    
}

.image-grow-together{
height: 50vh;
padding-left: 13vw;
padding-top: 8vh;

}









